body {
    font-family: Montserrat, sans-serif;
    width: 100vw;
    height: 100vh;
    border: 1px solid black; /*take out later*/
}
.jumbotron {
    text-align: center;
}
.logo {
    float: left;
}
.lavender {
    background: lavender;
    border: 1px solid black;
}