body {
    font-family: Montserrat, sans-serif;
    width: 100vw;
    height: 100vh;
    border: 1px solid black; /*take out later*/
}
.logo {
    float: left;
}
.logo img {
    width: 100px;
    height: 100px;
}
.header {
    text-align: center;
}
.lavender {                     /*take out later*/
    background: lavender;
    border: 1px solid black;
}
.card {
    height: 210px;
}
.front {
    background: pink;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.front img {
    width: 100%;
    height: 100%;
}
.back {
    background: rgb(154, 121, 173);
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.back img {
    width: 100%;
    height: 100%;
}
.remove {
    display: none;
}